hr {
    width: 500px;
}

.icone {
    margin: 5px;
    font-size: 45px;
}

.lista > li  {
    list-style: none;
}

.lista {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    margin: 10px;
}

.perfil {
    border-radius: 50%;
    width: auto;
    height: 230px;
}